<div class="mat-app-background">
  <h1>Markets</h1>
  <div *ngIf="!loading">
    <button (click)="closeWebSocket()" mat-button>Close WebSocket</button>
    <button (click)="reconnectWebSocket()" mat-button>Reconnect WebSocket</button>

    <mat-form-field class="full_width">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>

    <mat-tab-group [style.display]="searchterm === '' ? 'block' : 'none'" mat-align-tabs="start">
      <mat-tab label="BNB">
        <app-table-products [products]="binanceService.bnbproducts" ></app-table-products>
      </mat-tab>
      <mat-tab label="BTC">
        <app-table-products [products]="binanceService.btcproducts" ></app-table-products>
      </mat-tab>
      <mat-tab label="ALTS">
        <app-table-products [categories]="categoriesALTS" [products]="binanceService.altsproducts"></app-table-products>
      </mat-tab>
      <mat-tab label="FAIT">
        <app-table-products [categories]="categoriesFIAT" [products]="binanceService.faitproducts"></app-table-products>
      </mat-tab>
    </mat-tab-group>

    <div>
      <app-table-products [style.display]="searchterm !== '' ? 'block' : 'none'" [searchterm]="searchterm" [products]="binanceService.allproducts"></app-table-products>
    </div>
  </div>
</div>