<div class="mat-app-background">
  <h1>Markets</h1>

  <button (click)="closeWebSocket()" mat-button>Close WebSocket</button>

  <mat-form-field class="full_width">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <mat-tab-group *ngIf="!loading && searchterm === ''" mat-align-tabs="start">
    <mat-tab label="BNB">
      <app-table-products [products]="binanceService.bnbproducts" ></app-table-products>
    </mat-tab>
    <mat-tab label="BTC">
      <app-table-products [products]="binanceService.btcproducts" ></app-table-products>
    </mat-tab>
    <mat-tab label="ALTS">
      <app-table-products [categories]="categoriesALTS" [products]="binanceService.altsproducts"></app-table-products>
    </mat-tab>
    <mat-tab label="FAIT">
      <app-table-products [categories]="categoriesFAIT" [products]="binanceService.faitproducts"></app-table-products>
    </mat-tab>
  </mat-tab-group>

  <div>
    <app-table-products *ngIf="!loading && searchterm !== ''" [searchterm]="searchterm" [products]="binanceService.allproducts"></app-table-products>
  </div>
</div>