<div class="mat-app-background">
  <h1>Markets</h1>

  <mat-form-field class="full_width">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <mat-tab-group *ngIf="!loading && searchterm === ''" mat-align-tabs="start">
    <mat-tab label="BNB">
      <app-table-symbols [symbols]="binanceService.bnbsymbols" ></app-table-symbols>
    </mat-tab>
    <mat-tab label="BTC">
      <app-table-symbols [symbols]="binanceService.btcsymbols" ></app-table-symbols>
    </mat-tab>
    <mat-tab label="ALTS">
      <app-table-symbols [categories]="categoriesALTS" [symbols]="binanceService.altssymbols"></app-table-symbols>
    </mat-tab>
    <mat-tab label="FAIT">
      <app-table-symbols [categories]="categoriesFAIT" [symbols]="binanceService.faitsymbols"></app-table-symbols>
    </mat-tab>
  </mat-tab-group>

  <div>
    <app-table-symbols *ngIf="!loading && searchterm !== ''" [searchterm]="searchterm" [symbols]="binanceService.allsymbols"></app-table-symbols>
  </div>
</div>